<html>
<head>
	<title>Builds</title>
</head>
<body>
	<% builds.forEach(function (bt) { %>
		<a href="http://builds.evision.io/viewLog.html?buildTypeId=<%= bt %>"><img src="<%= bt %>/status.png"></a><br />
	<% }); %>
</body>
</html>